.orderbodypage {
  width: 100%;
  max-width: 512px;
  min-width: 320px; /* 최소 보장할 너비 */
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  margin: 80px auto 0 auto; /* 중앙 정렬 */
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 40px;
}

.order_info {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}

.buy_agree {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
  margin-top: 52px;
}

.email_message {
  font-size: 10px;
  color: #939393;
  padding-top: 4px;
  margin-bottom: 52px;
}

.delivery_message {
  height: 60px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #828282;
  margin-top: 12px;
  margin-bottom: 52px;
}

.zips_input {
  height: 52px;
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #939393;
}

.zips_title {
  width: 56px;
  font-size: 12px;
  color: #838383;
}

.zips_number {
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-size: 12px;
  background-color: #f0f0f0;
}

.zips_find_button {
  width: 20%;
  height: 60%;
  border: none;
  background-color: black;
  color: white;
  font-size: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buy_button {
  height: 52px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.order_title {
  font-size: 12px;
  padding-top: 8px;
  color: #828282;
  font-size: bold;
  display: flex;
  justify-content: row;
  align-items: center;
}

.order_count {
  font-size: 12px;
  font-size: bold;
  height: 52px;
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}
