.personal_info {
  height: 60px;
  border-bottom: 1px solid #939393;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 52px;
  font-size: 12px;
}

.button {
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.show {
  font-weight: 500;
  border-bottom: 1px solid black;
  cursor: pointer;
}
