.terms_of_use {
  height: 60px;
  border-bottom: 1px solid #939393;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-size: 12px;
}

.button {
  width: 12px;
  height: 12px;
  border: 1px solid black;
}

.show {
  font-weight: 500;
  border-bottom: 1px solid black;
  cursor: pointer;
}
