.findemail {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 32px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}

.email {
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.input_email {
  border: 1px solid #e3e3e3;
  width: 250px;
  height: 48px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.email_button {
  width: 100px;
  height: 48px;
  border: 1px solid #838383;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
}

.input {
  border: 1px solid #e3e3e3;
  width: 360px;
  height: 48px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.button {
  width: 360px;
  height: 44px;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 24px;
  cursor: pointer;
}

.result {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.message {
  font-size: 16px;
  color: gray;
}

.email_input {
  border: 1px solid #e3e3e3;
  width: 250px;
  height: 48px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.email_check {
  width: 100px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
}

.password_guide {
  padding: 4px;
  margin-bottom: 4px;
}

.a {
  font-size: 12px;
}
