.mypagebody {
  width: 100%;
  max-width: 100%;
  min-width: 700px; /* 최소 보장할 너비 */
  min-height: 100vh;

  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  column-gap: 32px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 32px;
}

.buttons {
  width: 424px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.edit_button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.logout_button {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}
.status_boxs {
  width: 700px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  place-items: center;
  margin-bottom: 12px;
}
