.summary_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.summary_item_name {
  font-size: 12px;
}

.summary_item_price {
  font-size: 12px;
}
