.privacypolicy {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 48px;
  padding: 120px 20px 20px 20px;
  box-sizing: border-box;
  width: 60%;
  overflow-x: hidden;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.privacypolicy_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.privacypolicy_box_title {
  font-size: 20px;
  font-weight: bold;
}

.privacypolicy_box_sentence {
  font-size: 14px;
  color: #838383;
}
